<div class="search-section">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="onSearchInput()"
    placeholder="Search Pokemon by name..."
    i18n-placeholder="@@searchForm.input.searchPlaceholder"
    class="search-input"
    id="pokemon-search-input-form"
    data-cy="pokemon-search-input-form"
  />
  <select
    [(ngModel)]="selectedType"
    (change)="onTypeSelected()"
    class="pokemon-type-selector"
    id="pokemon-type-selector"
    data-cy="search-form-pokemon-type-selector"
  >
    <option value="" i18n="@@searchForm.option.everyType">Every type</option>
    @for (type of pokemonTypes; track type) {
      <option [value]="type">{{ type | titlecase }}</option>
    }
  </select>
  @if (isLoggedIn$ | async) {
    <button
      class="pokemon-type-selector"
      id="search-form-favourites-toggle"
      data-cy="search-form-favourites-toggle"
      (click)="onToggleFavorites()"
      [class.is-favorite-active]="isFavoritesOnly"
    >
      <span i18n="@@searchForm.button.favourites">Favourites</span>
      <div class="spacer"></div>
      @if (isFavoritesOnly) {
        <mat-icon>favorite</mat-icon>
      } @else {
        <mat-icon>favorite_border</mat-icon>
      }
    </button>
  }
</div>
