<div class="search-section">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="onSearchInput()"
    placeholder="Search Pokemon by name..."
    class="search-input"
    id="pokemon-search-input-form"
  />
  <select
    [(ngModel)]="selectedType"
    (change)="onTypeSelected()"
    class="pokemon-type-selector"
  >
    <option value="">Every type</option>
    @for (type of pokemonTypes; track type) {
      <option [value]="type">{{ type | titlecase }}</option>
    }
  </select>
  @if (isLoggedIn$ | async) {
    <button
      class="pokemon-type-selector"
      (click)="onToggleFavorites()"
      [class.is-favorite-active]="isFavoritesOnly"
    >
      <span>Favourites</span>
      <div class="spacer"></div>
      @if (isFavoritesOnly) {
        <mat-icon>favorite</mat-icon>
      } @else {
        <mat-icon>favorite_border</mat-icon>
      }
    </button>
  }
</div>
