<div class="search-section">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="onSearchInput()"
    placeholder="Search Pokemon by name..."
    class="search-input"
  />
  <select
    [(ngModel)]="selectedType"
    (change)="onTypeSelected()"
    class="pokemon-type-selector"
  >
    <option value="">All Types</option>
    @for (type of pokemonTypes; track type) {
      <option [value]="type">{{ type | titlecase }}</option>
    }
  </select>
  @if (isLoggedIn$ | async) {
    <button
      class="favorite-button"
      (click)="onToggleFavorites()"
      [class.is-favorite-active]="isFavoritesOnly"
    >
      @if (isFavoritesOnly) {
        <mat-icon>favorite</mat-icon>
      } @else {
        <mat-icon>favorite_border</mat-icon>
      }
    </button>
  }
</div>
