
$primary-color: #ff1010;
$primary-color-dark: #b31515;
$secondary-color: #ff4545;
$secondary-color-dark: #9a2a2a;
$neutral-color: #edcfcf;

/*
 * This represents the scaffold's vertical size, as per current implementation, when in default (expanded) variant
 */
$scaffold-size: 160px;
