<div class="details-section">
  <div class="summary-grid">
    <div class="summary-item">
      <h3>Types</h3>
      @for (type of types; track type){
        <span
          class="type-pill"
          [ngClass]="'type-' + type.toLowerCase()"
        >
        {{ type }}
      </span>
      }
    </div>
    <div class="summary-item">
      <h3>Height</h3>
      @if (isEditing) {
        <input
          type="number"
          class="editable-input"
          [value]="height"
          (blur)="onHeightChange($event)"
        />
      } @else {
        <p>{{ height }}</p>
      }
    </div>
    <div class="summary-item">
      <h3>Weight</h3>
      @if (isEditing) {
        <input
          type="number"
          class="editable-input"
          [value]="weight"
          (blur)="onWeightChange($event)"
        />
      } @else {
        <p>{{ weight }}</p>
      }
    </div>
    <div class="summary-item">
      <h3>Base Experience</h3>
      @if (isEditing) {
        <input
          type="number"
          class="editable-input"
          [value]="baseExperience"
          (blur)="onBaseExperienceChange($event)"
        />
      } @else {
        <p>{{ baseExperience }}</p>
      }
    </div>
    <div class="summary-item">
      <h3 class="section-title">Abilities</h3>
      <ul class="section-list">
        @for (ability of abilities; track ability.name) {
          <li>{{ ability.name }} @if (ability.isHidden) { (Hidden) }</li>
        }
      </ul>
    </div>

  </div>
</div>
