@if (!isLoading) {
  @if (pokemonDetails$ | async; as pokemon) {
    <div class="pokemon-details-wrapper">
      <div class="pokemon-details-card">
        <div class="header-buttons">
          <button routerLink="/pokemon" class="navigate-to-home"><mat-icon>arrow_back</mat-icon></button>

          @if (isLoggedIn$ | async) {
            <button
              class="favorite-button"
              (click)="onToggleFavorite(pokemon)"
              [class.is-favorite]="isFavorite$ | async"
            >
              @if (isFavorite$ | async) {
                <mat-icon>favorite</mat-icon>
              } @else {
                <mat-icon>favorite_border</mat-icon>
              }
            </button>
          } @else {
            <button class="favorite-button disabled-button" disabled>
              <mat-icon>favorite_border</mat-icon>
            </button>
          }
        </div>

        <div class="details-header-container">
          <details-page-header
            [imageUrl]="pokemon.imageUrl"
            [name]="pokemon.name"
            [id]="pokemon.id"
          ></details-page-header>
        </div>

        <div class="summary-card-container">
          <h2>Details</h2>
          <app-pokemon-details-summary
            [types]="pokemon.types"
            [height]="pokemon.height"
            [weight]="pokemon.weight"
            [baseExperience]="pokemon.base_experience"
            [abilities]="pokemon.abilities"
          ></app-pokemon-details-summary>
        </div>

        <div class="details-section">
          <h2>Stats</h2>
          <app-stats-breakdown [stats]="pokemon.stats"></app-stats-breakdown>
        </div>

        @if (pokemonEvolution$ | async; as evolutionChain) {
          <div class="evolution-container">
            <h2>Evolution</h2>
            <div class="evolution-chain-wrapper">
              @if (evolutionChain.chain.length > 0) {
                <app-evolution-chain-species
                  [species]="evolutionChain.chain[0]"
                  [pokemonDetails]="pokemon"
                ></app-evolution-chain-species>
              }
            </div>
          </div>
        }

        @if (equalTypePokemonList$ | async; as equalTypePokemon) {
          <div class="similar-pokemon-container">
            <h2>Pokemon of similar type</h2>
            <div class="similar-pokemon-list">
              @for (equalTypePokemon of equalTypePokemon; track equalTypePokemon.id) {
                <div class="pokemon-item" (click)="onPokemonCardClick(equalTypePokemon.id)">
                  <div class="pokemon-item-image-wrapper">
                    <img [src]="equalTypePokemon.imageUrl" [alt]="equalTypePokemon.name" />
                  </div>
                  <p class="pokemon-of-similar-type-name">{{ equalTypePokemon.name }}</p>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
} @else {
  <app-loading-screen/>
}
