$primary-text-color: #1f2937;
$secondary-text-color: #4b5563;
$details-card-bg-color: #ffffff;
$evolution-card-bg-color: #b1b1b1;
$details-card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$evolution-card-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
$card-border-radius: 0.5rem;
$page-max-width: 32rem;
$spacing-large: 1.5rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

$font-size-h2: 1.875rem;
$font-size-h3: 1.25rem;
$font-size-text-large: 1.125rem;
$font-size-text-base: 1rem;

.pokemon-details-wrapper{
  padding: $spacing-large 2px;

  @media (min-width: 768px) {
    padding-left:16px;
    padding-right:16px;
  }
}

.pokemon-details-card {
  background-color: $details-card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $details-card-shadow;
  padding: $spacing-large;
  max-width: $page-max-width;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: #{$page-max-width*1.5};
  }

  @media (min-width: 1024px) {
    max-width: #{$page-max-width*2};
  }
}

.details-section {
  margin-top: $spacing-large;

  .section-title {
    font-size: $font-size-h3;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-small;
  }

  .section-list {
    list-style: disc inside;
    color: $secondary-text-color;

    li {
      color: $primary-text-color;
    }
  }
}

.evolution-container {
  background-color: $evolution-card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $evolution-card-shadow;
  padding: $spacing-large;
  margin-top: $spacing-large;

  h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    color: $primary-text-color;
    margin-bottom: $spacing-large;
  }
}
