@use '../../../../../shared/constants/theme' as theme;

$primary-text-color: #1f2937;
$secondary-text-color: #4b5563;
$details-card-bg-color: #ffffff;
$evolution-card-bg-color: #b1b1b1;
$similar-pokemon-container-bg-color: rgba(theme.$secondary-color, 0.5);
$details-card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$evolution-card-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
$similar-pokemon-container-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
$card-border-radius: 0.5rem;
$page-max-width: 32rem;
$spacing-large: 1.5rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-text-large: 1.125rem;
$font-size-text-base: 1rem;

$summary-card-container-bg-color: rgba(theme.$primary-color, 0.5);
$summary-card-container-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.pokemon-details-wrapper{
  padding: $spacing-large 2px;

  @media (min-width: 768px) {
    padding-left:16px;
    padding-right:16px;
  }
}

.details-header-container {
  margin-bottom: $spacing-large;
}

.pokemon-details-card {
  background-color: $details-card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $details-card-shadow;
  padding: $spacing-large;
  max-width: $page-max-width;
  margin: 0 auto;
  transition: max-width 0.3s ease-in-out;

  @media (min-width: 768px) {
    max-width: #{$page-max-width*1.5};
  }

  @media (min-width: 1024px) {
    max-width: #{$page-max-width*2};
  }
}

.header-and-stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: $spacing-large;
  }
}

.header-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;

  @media (min-width: 1024px) {
    flex: 1;
  }
}


.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-medium;

  .navigate-to-home {
    background-color: theme.$primary-color;
    color: white;
    border: none;
    border-radius: $card-border-radius;
    padding: $spacing-small $spacing-medium;
    cursor: pointer;
    font-size: $font-size-text-base;
    font-weight: $font-weight-semibold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: darken(theme.$primary-color, 10%);
    }
  }

  .favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    mat-icon {
      font-size: 30px;
      height: 30px;
      width: 30px;
      color: theme.$primary-color-dark;
    }

    &.is-favorite mat-icon {
      color: red;
    }

    &.disabled-button {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

}

.details-section {
  margin-top: $spacing-large;

  .section-title {
    font-size: $font-size-h3;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-small;
  }

  .section-list {
    list-style: disc inside;
    color: $secondary-text-color;

    li {
      color: $primary-text-color;
    }
  }

  @media (min-width: 1024px) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}

.evolution-container {
  background-color: $evolution-card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $evolution-card-shadow;
  padding: $spacing-large;
  margin-top: $spacing-large;

  h2 {
    margin-bottom: $spacing-large;
  }

  .evolution-chain-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $spacing-medium;
  }
}

.summary-card-container {
  background-color: $summary-card-container-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $summary-card-container-shadow;
  padding: $spacing-large;
  width: 100%;

}

.similar-pokemon-container {
  background-color: $similar-pokemon-container-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $similar-pokemon-container-shadow;
  padding: $spacing-large;
  margin-top: $spacing-large;
}

.similar-pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-medium;
  justify-content: center;
  margin-top: $spacing-medium;

  .pokemon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin-left: $spacing-small;
    margin-right: $spacing-small;

    .pokemon-item-image-wrapper {
      display: inline-block;
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 50%;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      margin-top: $spacing-small;
      font-size: $font-size-text-base;
      font-weight: $font-weight-medium;
      color: $primary-text-color;
    }
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  color: $primary-text-color;
  margin-bottom: $spacing-small;
}

.pokemon-of-similar-type-name{
  text-transform: capitalize;
}
