@if (pokemonDetails$ | async; as pokemon) {
  <div class="pokemon-details-wrapper">
    <div class="pokemon-details-card">
      <div class="details-header">
        <img [src]="pokemon.imageUrl" [alt]="pokemon.name" class="pokemon-image">
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <p class="pokemon-id">ID: {{ pokemon.id }}</p>
      </div>

      <div class="details-section">
        <app-pokemon-details-summary
          [types]="pokemon.types"
          [height]="pokemon.height"
          [weight]="pokemon.weight"
          [baseExperience]="pokemon.base_experience"
          [abilities]="pokemon.abilities"
        ></app-pokemon-details-summary>
      </div>

      <div class="details-section">
        <app-stats-breakdown [stats]="pokemon.stats"></app-stats-breakdown>
      </div>

      @if (pokemonEvolution$ | async; as evolutionChain) {
        <div class="evolution-container">
          <h2>Evolution</h2>
          <div class="flex flex-wrap items-center justify-center space-x-4">
            @if (evolutionChain.chain.length > 0) {
              <app-evolution-chain-species [species]="evolutionChain.chain[0]"></app-evolution-chain-species>
            }
          </div>
        </div>
      }

    </div>
  </div>
} @else {
  <app-loading-screen/>
}
