@use '../../../../shared/constants/theme' as theme;

$font-weight-semibold: 600;
$font-size-text-base: 1rem;
$card-border-radius: 0.5rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{theme.$scaffold-size});
  background-color: theme.$neutral-color;

  h2 {
    margin-bottom: 20px;
    color: theme.$primary-color-dark;
    font-size: 1.5rem;
    text-align: center;
  }

  form {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: theme.$primary-color-dark;
      font-weight: bold;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid theme.$secondary-color-dark;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: theme.$primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: theme.$primary-color-dark;
    }
  }

  .toggle-mode-button {
    background-color:inherit;
    color:inherit;
    margin-top: 10px;
    padding: 0;

    &:hover {
      background-color: inherit;
    }
  }

  .error-message {
    color: theme.$primary-color-dark;
    background-color: #fceaeb;
    border: 1px solid theme.$primary-color-dark;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
  }
}

.navigate-to-home {
  background-color: theme.$primary-color;
  color: white;
  border: none;
  border-radius: $card-border-radius;
  padding: $spacing-small $spacing-medium;
  margin-top: $spacing-small;
  cursor: pointer;
  font-size: $font-size-text-base;
  font-weight: $font-weight-semibold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  &:hover {
    background-color: darken(theme.$primary-color, 10%);
  }
}
