<div class="login-container">
  <form (ngSubmit)="isLoginMode ? onLogin() : onRegister()">
    @if (isLoginMode) {
      <h2 id="form-title-login">Login</h2>
    } @else {
      <h2 id="form-title-register">Register</h2>
    }

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>

    @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
    }

    @if (isLoginMode) {
      <button id="submit-button-login" type="submit">Login</button>
    } @else {
      <button id="submit-button-register" type="submit">Register</button>
    }
    <button routerLink="/pokemon" class="navigate-to-home"><mat-icon>arrow_back</mat-icon></button>

    <button class="toggle-mode-button">
      <a (click)="toggleMode()">{{ isLoginMode ? 'Need to register?' : 'Already have an account?' }}</a>
    </button>
  </form>
</div>
