@use '../../../../shared/constants/theme' as theme;

$font-weight-semibold: 600;
$font-size-text-base: 1rem;
$card-border-radius: 0.5rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;

.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{theme.$scaffold-size});
  background-color: theme.$neutral-color;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: theme.$primary-color-dark;
    font-size: 2rem;
  }

  p {
    margin-bottom: 20px;
    color: theme.$secondary-color-dark;
    font-size: 1.1rem;
  }

  button {
    padding: 12px 24px;
    background-color: theme.$primary-color;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: theme.$primary-color-dark;
    }
  }
}

.navigate-to-home {
  position: absolute;
  top: $spacing-medium;
  left: $spacing-medium;
  background-color: theme.$primary-color;
  color: white;
  border: none;
  border-radius: $card-border-radius;
  padding: $spacing-small $spacing-medium;
  cursor: pointer;
  font-size: $font-size-text-base;
  font-weight: $font-weight-semibold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken(theme.$primary-color, 10%);
  }
}

.update-password-form{
  outline: #0a3069;
  outline-style: dashed;
  padding: 20px 20px 0 20px;
  margin: 20px;

  .update-password-button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .update-password-button:disabled {
    background-color: darken(theme.$primary-color-dark, 10%);
    color: theme.$neutral-color;
    cursor: not-allowed;
  }

}

.form-group {
  margin-bottom: 10px;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
}
