@if (pokemonList$ | async; as pokemon) {
  <div class="pokemon-list-container">
  <app-search-form (searchSubmitted)="onSearchSubmitted($event)"></app-search-form>

    <div class="pokemon-grid">
      @for (p of pokemon; track p.id) {
        <div (click)="onPokemonCardClick(p.id)" class="pokemon-card">
          <img [src]="p.imageUrl" [alt]="p.name" class="pokemon-image" width="96" height="96">
          <h3 class="pokemon-name">{{ p.name | titlecase }}</h3>
          <p class="pokemon-id">ID: {{ p.id }}</p>
          <div class="pokemon-types-container">
            @for (type  of p.types; track type){
              <span
                class="type-pill"
                [ngClass]="'type-' + type.toLowerCase()"
              >
                {{ type }}
              </span>
            }
          </div>
        </div>
      }
    </div>

    @if (pokemon.length === 0 && isInSearchState) {
      <div class="search-failed">
        <h3>No Pokémon Matched Your Search!</h3>
        <p><strong>Please try different search term</strong></p>
        <pre>{{ noPokemonArt }}</pre>
      </div>
    }

    @if (pokemon.length === 0 && !isInSearchState) {
      <div class="no-pokemon-found">No Pokemon found.</div>
    }

    <div class="lazy-loader"></div>

  </div>
} @else {
  <app-loading-screen></app-loading-screen>
}
