@if (pokemon$ | async; as pokemon) {
  <div
    [ngClass]="{'is-current': isCurrent || pokemonDetails?.name === pokemon?.name}"
    (click)="!isCurrent && onPokemonVariantClick(pokemon.id); $event.stopPropagation()"
    class="pokemon-container">
    <div class="pokemon-details">
      <div class="pokemon-image-wrapper"
           [ngClass]="{'is-current': isCurrent || pokemonDetails?.name === pokemon?.name}"
      >
        <img [src]="pokemon.imageUrl" [alt]="pokemon.name" class="pokemon-image">
      </div>
      <span>{{ pokemon.name }} #{{ pokemon.id }}</span>
      @for (type  of pokemon.types; track type){
        <span
          class="type-pill"
          [ngClass]="'type-' + type.toLowerCase()"
        >
          {{ type }}
        </span>
      }
    </div>

    @if (species.evolvesTo.length > 0) {
      <span class="evolution-indicator">&gt;</span>
      <div class="evolved-species-list" [ngClass]="{ 'multi-row': species.evolvesTo.length > 4 }">
        @for (evolvedSpecies of species.evolvesTo; track evolvedSpecies.name) {
          <app-evolution-chain-species
            [species]="evolvedSpecies"
            [isCurrent]="pokemonDetails?.name === evolvedSpecies.name" [pokemonDetails]="pokemonDetails"
          ></app-evolution-chain-species>
        }
      </div>
    }
  </div>
} @else if (!species.evolvesTo.length) {
  <h2>This Pokémon does not evolve.</h2>
  <div class="pokemon-container">
    <div class="pokemon-details">
      <div class="pokemon-image-wrapper">
        <img [src]="pokemonDetails.imageUrl" [alt]="pokemonDetails.name" class="pokemon-image">
      </div>
    </div>
  </div>
}
<!--todo: add loading composable; better ux when loading pokemon evolution sprites-->
